@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --lightBackground: #eee;
  --lightText: #00000090;
  --primaryBorder: #ddd;
  --primaryColor: #6ba12a;
  --primaryText: #344056;
  --secondaryColor: #222;
  --secondaryText: #333;
  --white: #FFF;
  --yellow: #fbe541;

  --zIndex1: 1111;
  --zIndex2: 1112;}

body {
  margin: 0;
  font-size: 16;
  font-family: 'Merriweather', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}